<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengyang.music"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true">

        <!-- 首页 -->
        <activity
            android:name=".activity.MusicActivity"/>
        <!-- 音乐播放详情页 -->
        <activity
            android:name=".activity.PlayActivity"
            android:noHistory="true"/>
        <!-- 本地搜索音乐文件 -->
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <!-- 设置休眠时间 -->
        <activity
            android:name=".activity.SetTimeActivity"/>

        <!-- 锁屏,保证唯一 -->
        <activity
            android:name=".activity.LockActivity"
            android:launchMode="singleInstance"/>
        <!-- 批量操作 -->
        <activity
            android:name=".activity.MuiMusicActivity"/>

        <!-- 播放服务 -->
        <service android:name=".service.PlayService" />
    </application>

</manifest>